In [73]:
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (<ipython-input-71-30101137b486>, line 1)

In [62]:
url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
url_deths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
url_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
data_confirmed = pd.read_csv(url_confirmed)
data_deths = pd.read_csv(url_deths)
data_recovered = pd.read_csv(url_recovered)
print("matrix shape:" ,data_confirmed.shape)
data_confirmed.head(20)

matrix shape: (273, 386)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,54891,54939,55008,55023,55059,55121,55174,55231,55265,55330
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,75454,76350,77251,78127,78992,79934,80941,81993,83082,84212
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,106610,106887,107122,107339,107578,107841,108116,108381,108629,108629
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,9779,9837,9885,9937,9972,10017,10070,10137,10172,10206
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19672,19723,19782,19796,19829,19900,19937,19996,20030,20062
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,215,218,218,234,234,249,249,268,277,288
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,1905524,1915362,1922264,1927239,1933853,1943548,1952744,1961635,1970009,1976689
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,166669,166728,166901,167026,167088,167231,167421,167568,167726,167937
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,118,118,118,118,118,118,118,118,118,118
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,5099,5101,5104,5110,5112,5114,5117,5117,5119,5120
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,98,98,98,98,98,98,99,99,101,102
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,1308,1309,1309,1310,1311,1311,1311,1309,1311,1312
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,596,596,597,596,597,601,601,602,602,602
13,Tasmania,Australia,-42.882100,147.327200,0,0,0,0,0,0,...,234,234,234,234,234,234,234,234,234,234
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,20448,20448,20448,20449,20450,20449,20452,20456,20456,20456
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,898,902,903,903,903,904,906,907,907,907
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,410230,411730,413208,414398,415522,416763,418283,419801,421189,422522
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,229793,229935,230066,230219,230296,230455,230617,230769,230907,231022
18,NaN,Bahamas,25.025885,-78.035889,0,0,0,0,0,0,...,8161,8167,8174,8174,8174,8223,8231,8247,8256,8256
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,101503,101971,102626,103057,103582,104239,104792,105496,106198,106713

In [63]:
data_deths.head(15)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2397,2399,2400,2400,2404,2405,2406,2407,2407,2408
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1350,1358,1369,1380,1393,1398,1404,1418,1433,1446
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2881,2884,2888,2891,2894,2898,2900,2904,2909,2909
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,100,100,101,101,101,102,103,103,104,105
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,464,464,464,466,466,468,470,473,474,475
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,6,6,7,7,7,7,7,7,7,7
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,47601,47775,47931,47974,48249,48426,48539,48700,48985,49110
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,3067,3069,3071,3080,3084,3089,3096,3107,3109,3114
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,0,0,...,54,54,54,54,54,54,54,54,54,54
10,Northern Territory,Australia,-12.46340,130.845600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Queensland,Australia,-27.46980,153.025100,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
12,South Australia,Australia,-34.92850,138.600700,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
13,Tasmania,Australia,-42.88210,147.327200,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
14,Victoria,Australia,-37.81360,144.963100,0,0,0,0,0,0,...,820,820,820,820,820,820,820,820,820,820

In [64]:
china_confirmed = data_confirmed[data_confirmed['Country/Region'] == 'China']

In [65]:
china_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21
58,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,994,994,994,994,994,994,994,994,994,994
59,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,1035,1036,1036,1038,1039,1039,1044,1044,1044,1046
60,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,591,591,591,591,591,591,591,591,591,591
61,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,536,539,541,541,541,541,544,545,545,545
62,Gansu,China,35.7518,104.2861,0,2,2,4,7,14,...,187,187,187,187,187,187,187,187,187,187
63,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,2121,2121,2124,2125,2127,2129,2132,2134,2135,2137
64,Guangxi,China,23.8298,108.7881,2,5,23,23,36,46,...,267,267,267,267,267,267,267,267,267,267
65,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,147,147,147,147,147,147,147,147,147,147
66,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,171,171,171,171,171,171,171,171,171,171
67,Hebei,China,39.5490,116.1306,1,1,2,8,13,18,...,1310,1311,1312,1313,1313,1314,1316,1316,1316,1316
68,Heilongjiang,China,47.8620,127.7615,0,2,4,9,15,21,...,1525,1552,1561,1583,1591,1597,1601,1606,1609,1609
69,Henan,China,37.8957,114.9042,5,5,9,32,83,128,...,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
70,Hong Kong,China,22.3000,114.2000,0,2,2,5,8,8,...,10321,10371,10399,10452,10486,10511,10530,10552,10589,10608
71,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,68150,68150,68150,68150,68150,68150,68150,68150,68150,68150
72,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1029,1031,1031,1032,1032,1032,1032,1032,1032,1033
73,Inner Mongolia,China,44.0935,113.9448,0,0,1,7,7,11,...,366,366,366,366,366,366,366,366,366,366
74,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,693,693,694,694,697,698,698,699,699,701
75,Jiangxi,China,27.6140,115.7221,2,7,18,18,36,72,...,935,935,935,935,935,935,935,935,935,935
76,Jilin,China,43.6661,126.1923,0,1,3,4,4,6,...,473,478,541,551,555,563,571,571,572,573
77,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,397,397,400,400,402,402,402,402,402,402
78,Macau,China,22.1667,113.5500,1,2,2,2,5,6,...,47,47,47,47,47,47,47,47,48,48
79,Ningxia,China,37.2692,106.1655,1,1,2,3,4,7,...,75,75,75,75,75,75,75,75,75,75
80,Qinghai,China,35.7452,95.9956,0,0,0,1,1,6,...,18,18,18,18,18,18,18,18,18,18
81,Shaanxi,China,35.1917,108.8701,0,3,5,15,22,35,...,536,537,539,539,540,541,541,541,542,542
82,Shandong,China,36.3427,118.1498,2,6,15,27,46,75,...,866,866,866,866,866,866,866,866,866,866
83,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,1676,1687,1694,1698,1705,1709,1714,1724,1729,1732
84,Shanxi,China,37.5777,112.2922,1,1,1,6,9,13,...,238,238,238,238,239,239,239,239,239,239
85,Sichuan,China,30.6171,102.7103,5,8,15,28,44,69,...,868,869,870,870,871,873,873,873,873,873
86,Tianjin,China,39.3054,117.3230,4,4,8,10,14,23,...,343,343,343,344,344,344,344,345,346,346
87,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
88,Xinjiang,China,41.1129,85.2401,0,2,2,3,4,5,...,980,980,980,980,980,980,980,980,980,980
89,Yunnan,China,24.9740,101.4870,1,2,5,11,16,26,...,231,231,231,231,231,231,231,231,231,231
90,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1316,1316,1316,1316,1316,1316,1316,1316,1316,1316

In [56]:
(china_confirmed.groupby(by=['Country/Region']).sum()).drop(['Lat','Long'], axis=1)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
China,548,643,920,1406,2075,2877,5509,6087,8141,9802,...,99746,99848,99968,100063,100127,100177,100226,100268,100318,100348

In [57]:
%matplotlib inline

In [43]:
(data_confirmed.groupby(by=['Country/Region']).sum()).drop(['Lat','Long'], axis=1)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,54854,54891,54939,55008,55023,55059,55121,55174,55231,55265
Albania,0,0,0,0,0,0,0,0,0,0,...,74567,75454,76350,77251,78127,78992,79934,80941,81993,83082
Algeria,0,0,0,0,0,0,0,0,0,0,...,106359,106610,106887,107122,107339,107578,107841,108116,108381,108629
Andorra,0,0,0,0,0,0,0,0,0,0,...,9716,9779,9837,9885,9937,9972,10017,10070,10137,10172
Angola,0,0,0,0,0,0,0,0,0,0,...,19580,19672,19723,19782,19796,19829,19900,19937,19996,20030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,1553,1651,1657,1767,1817,1850,1882,1948,1957,1976
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,156996,157593,158168,158559,158962,159443,159956,160426,161087,161559
Yemen,0,0,0,0,0,0,0,0,0,0,...,2120,2120,2120,2120,2121,2122,2122,2122,2122,2124
Zambia,0,0,0,0,0,0,0,0,0,0,...,48911,50319,51624,53352,54217,55042,56233,57489,59003,60427
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,32304,32646,32952,33273,33388,33548,33814,33964,34171,34331

In [44]:
data_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/27/21,1/28/21,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,54854,54891,54939,55008,55023,55059,55121,55174,55231,55265
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,74567,75454,76350,77251,78127,78992,79934,80941,81993,83082
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,106359,106610,106887,107122,107339,107578,107841,108116,108381,108629
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,9716,9779,9837,9885,9937,9972,10017,10070,10137,10172
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19580,19672,19723,19782,19796,19829,19900,19937,19996,20030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1553,1651,1657,1767,1817,1850,1882,1948,1957,1976
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,156996,157593,158168,158559,158962,159443,159956,160426,161087,161559
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2120,2120,2120,2120,2121,2122,2122,2122,2122,2124
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,48911,50319,51624,53352,54217,55042,56233,57489,59003,60427
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,32304,32646,32952,33273,33388,33548,33814,33964,34171,34331

In [19]:
tagPlace=23;

print(data_confirmed.values[:,1]);
# it's much better to use the following:
# data_confirmed["Country/Region"].values

array_confirmed = data_confirmed.values
line_confirmed= array_confirmed[tagPlace,:]

array_deths = data_deths.values
line_deths= array_deths[tagPlace,:]

array_recovered = data_recovered.values
line_recovered= array_recovered[tagPlace,:]

days=data_confirmed.shape[1]-4

#print(line_recovered)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Australia'
 'Australia' 'Australia' 'Australia' 'Australia' 'Australia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei' 'Bulgaria'
 'Burkina Faso' 'Burma' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Canada' 'Canada' 'Canada' 'Canada' 'Canada' 'Canada' 'Canada'
 'Canada' 'Canada' 'Canada' 'Canada' 'Canada' 'Canada' 'Canada' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'China' 'China' 'China'
 'China' 'China' 'China' 'China' 'China' 'China' 'China' 'China' 'China'
 'China' 'China' 'China' 'China' 'China' 'China' 'China' 'China' 'China'
 'China' 'China' 'China' 'China' 'China' 'China' 'China' 'China' 'China'
 'China' 'China' 'Colombia' 'Comoros' 'Congo (Brazzaville)'
 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' 'Denmark' 'Denmark' 'Denmark' 'Diamond Princess' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'France' 'France' 'France' 'France' 'France' 'France'
 'France' 'France' 'France' 'France' 'France' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Holy See' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, South' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'MS Zaandam' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Nepal'
 'Netherlands' 'Netherlands' 'Netherlands' 'Netherlands' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan*'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'US' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Kingdom' 'United Kingdom'
 'United Kingdom' 'United Kingdom' 'United Kingdom' 'United Kingdom'
 'United Kingdom' 'United Kingdom' 'United Kingdom' 'United Kingdom'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam'
 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [21]:
line_confirmed

array([nan, 'Belgium', 50.8333, 4.469936, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 8, 13, 23, 50, 109, 169, 200, 239, 267, 314,
       314, 559, 689, 886, 1058, 1243, 1486, 1795, 2257, 2815, 3401, 3743,
       4269, 4937, 6235, 7284, 9134, 10836, 11899, 12775, 13964, 15348,
       16770, 18431, 19691, 20814, 22194, 23403, 24983, 26667, 28018,
       29647, 30589, 31119, 33573, 34809, 36138, 37183, 38496, 39983,
       40956, 41889, 42797, 44293, 45325, 46134, 46687, 47334, 47859,
       48519, 49032, 49517, 49906, 50267, 50509, 50781, 51420, 52011,
       52596, 53081, 53449, 53779, 53981, 54288, 54644, 54989, 55280,
       55559, 55791, 55983, 56235, 56511, 56810, 57092, 57342, 57455,
       57592, 57849, 58061, 58186, 58381, 58517, 58615, 58685, 58767,
       58907, 59072, 59226, 59348, 59437, 59569, 59711, 59819, 59918,
       60029, 60100, 60155, 60244, 60348, 60476, 60550, 60550, 60550,
       60810, 60898, 61007, 61106, 61209, 61295, 61361, 61427, 61509,
       61598, 61727, 61838, 62016, 62058, 62058, 62123, 62210, 62357,
       62469, 62707, 62707, 62781, 62872, 63238, 63499, 63706, 63706,
       64094, 64258, 64627, 64847, 65199, 65727, 66026, 66428, 66662,
       67335, 68006, 68751, 69402, 69849, 70314, 70648, 71158, 72016,
       72784, 73401, 74152, 74620, 75008, 75647, 76191, 77113, 77869,
       78323, 78534, 78897, 79479, 80178, 80894, 81468, 81936, 82092,
       82447, 83030, 83500, 83952, 84599, 85042, 85236, 85487, 85911,
       86544, 87174, 87825, 88367, 88769, 89141, 89691, 90568, 91537,
       92478, 93455, 94306, 94795, 95948, 97976, 99649, 100748, 102295,
       103392, 105226, 106887, 108768, 110976, 112803, 114179, 115353,
       117115, 118452, 121059, 124234, 127623, 130235, 132203, 134291,
       137868, 143596, 148981, 156931, 162258, 165880, 173240, 181511,
       191959, 202151, 213115, 222253, 230480, 240159, 253386, 270132,
       287700, 305409, 321031, 333718, 347289, 368337, 392258, 412314,
       429229, 441018, 447355, 452541, 468213, 479341, 488044, 494168,
       500789, 503182, 507475, 515391, 520393, 525012, 531280, 535939,
       537871, 540605, 545787, 550264, 553680, 556904, 558779, 559902,
       561803, 564967, 567532, 570829, 574448, 576599, 577345, 579212,
       582252, 584857, 587439, 589942, 591756, 592615, 594572, 597643,
       600397, 600397, 603159, 608137, 609211, 611422, 615058, 618204,
       621039, 623760, 625930, 626911, 629109, 632321, 634904, 637246,
       638030, 638877, 639734, 641411, 644242, 646496, 648289, 649169,
       650011, 650887, 652735, 655732, 658655, 660703, 662694, 664263,
       665223, 667322, 670249, 672886, 675089, 677209, 678839, 679771,
       681250, 684256, 686827, 689271, 691854, 693666, 694858, 696642,
       699662, 702437, 705120, 707837, 710153, 711417, 713271, 716395,
       718847, 721432], dtype=object)

In [66]:
# libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
 

# Data
df=pd.DataFrame({'x':pd.date_range("01/22/20", periods=days),'y11':line_confirmed[4:len(line)],'y22':line_deths[4:len(line)],'y33':line_recovered[4:len(line)]})
# multiple line plot
plt.plot( 'x', 'y11', data=df, marker='', color='orange', linewidth=1,label="confirmed")
plt.plot( 'x', 'y22', data=df, marker='', color='red', linewidth=1,label="deths")
plt.plot( 'x', 'y33', data=df, marker='', color='green', linewidth=1,label="recovered")
plt.legend()
plt.yscale("log")

NameError: name 'line' is not defined